body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
  background-image: url('../img/fundo-site.png');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
}

#texto {
  font-size: 18px;
  max-width: 600px;
  margin: 40px auto;
}

button:hover {
  background-color: #0056b3;
}
